@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=JetBrains+Mono:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Sci-Fi Reset */
:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #0b0c15; /* space-950 */
  color: #e2e8f0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for Dashboard feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0c15;
}
::-webkit-scrollbar-thumb {
  background: #2f334d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}
